h1 {
    color: red;
    text-transform: uppercase;
}

h2 {
    color: salmon;
    text-transform: uppercase;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    text-align: center;
}